<form>
  <div class="space-y-12 sm:space-y-16">
    <div>
      <div class="flex items-start gap-4">
        <div class="grid grid-cols-6 items-center gap-2 py-6">
          <label for="minMag" class="col-span-2 font-medium text-gray-900 pt-1.5">Minimum Magnitude</label>
          <div class="mt-2 col-span-4">
            <div class="flex items-center rounded-md bg-white pl-3 outline-0 focus-within:outline-0">
              <input type="range" [formField]="filterForm.minMag" id="minMag" step="0.1" class="block min-w-0 grow bg-white py-1.5 pr-3 pl-1" />
            </div>
          </div>
        </div>
        <div class="grid grid-cols-6 items-center gap-2 py-6">
          <label for="hoursSince" class="col-span-2 font-medium text-gray-900 pt-1.5">Since Hours</label>
          <div class="col-span-4">
            <div class="flex items-center rounded-md bg-white pl-3 outline-0 focus-within:outline-0">
              <input type="number" [formField]="filterForm.sinceHours" id="hoursSince" class="block min-w-0 grow bg-white py-1.5 pr-3 pl-1" />
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</form>
